---
import Canvas from "../components/Canvas";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-full">
    <Canvas client:load />
  </main>
</Layout>
